body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}

.container {
  position: relative;
  align-items: center;
  width: 30em;
  height: 50%;
  left: 700px;
  
  
}

.container h1 {
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  font-size: 5em;
  margin: 300px;
  position: absolute;
  height: 500px;
  transform: translateX(-50%);
  width: 700px;
  top: 150px;
}

.container img {
  position: absolute;
  width: 100%;
  top: 500px;
  left: 50%;
  transform: translate(-50%, -50%) rotate(0); /* Mantener la rotación en 0 */
  animation: spin 8s infinite linear;
}

@keyframes spin {
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.container h1:nth-child(3) {
  color: transparent;
  -webkit-text-stroke: 1px #ffffff;
}
